.container {
    display: grid;
    grid-template-columns: 75% 25%;
}

body {
    background: #FBFCFF;
    margin: 0;
    font-family: "Comic Sans MS";
}

header {
    padding: 60px;
    text-align: center;
    background: blue;
    color: white;
    font-size: 30px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bubble {
    background: pink;
    margin-left: 4em;
    margin-top: 1em;
    padding: 1em;
    width: 40%;
    text-align: center;
}

footer {
    padding: 10px;
    text-align: center;
    background: #D0CCD0;
    color: white;
    font-size: 30px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

.contact {
    grid-column: 1 / span 3;
    text-align: center;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: white;
}

.sidebar {
    grid-column: 2 / span 2;
    text-align: center;
    background: yellow;
}

img {
    height: 15em;
    width: 15em;
    margin-right: 1em;
}

.who {
    margin-top: 1em;
    justify-content: space-around;
    display: flex;
}

.history {
    display: flex;
}

.offer {
    display: flex;
}

h2 {
    color: red;
}

h4 {
    color: #1C6E8C;
}

h5 {
    color: #274156;
}

.main {
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}