body {
    background-color: #E0C9A6;
}

h1,
h2,
h3 {
    font-family: "Harrington";
    text-align: center;
}

h4,
h5,
h6 {
    font-style: italic;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.margin2 {
    text-align: center;
}

p.center {
    text-align: center;
    padding-bottom: 5em;
}

p.poem {
    text-align: center;
    padding-bottom: 5em;
}

p.letter {
    font-style: italic;
    text-align: center;
    padding: 2em 2em;
}

p {
    margin-left: 15%;
    margin-right: 15%;
    font-family: Helvetica, sans-serif;
}

.figcenter,
.dropcap {
    mix-blend-mode: multiply;
}

.poem {
    text-align: center;
    padding: 2em 2em;
}

.mynote {
    font-style: italic;
}